* {
    box-sizing: border-box;
  }
  
  input[type=text]{
    width: 280px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    /* color: darkgray; */
  }
  .btn{
    float: right;
    margin-right: 20px;
  }
  input[type=submit] {
    background-color: #04AA6D;
    /* color: white; */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* input[type=submit]:hover {
    background-color: #45a049;
  } */
  .active{
    background-color: #45a049;
  }
  .inActive{
    background-color: gray !important;
    cursor:not-allowed !important;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    margin-top: 40px;
  }
  
  .row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* user table */

  .container-table {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    margin-top: 40px;
    height: 235px;
    overflow-y: auto;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 13px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* loader */
  .no-record{
    text-align: center;
}
  .loader {
    border: 5px solid lightgrey;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
    left: 46%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }